.container {
    width: 1140px;
    margin: auto;
}

.cycle_section {
    width: 200px;
    margin-bottom: 20px;
}
.single_thread{
    margin-top: 100px;
}
.single_thread button {
    float: right;
}
.multi_threading button {
    float: right;
}
.multi_threading .multi_threading_progress{
    margin-top: 60px;
}
.multi_threading{
    margin-top: 100px;
}